* text=auto eol=lf
*.cs text diff=csharp
*.json text
*.md text
*.yml text
*.yaml text
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.mp3 binary
